@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 1137px) {
  .profile-div {
    font-size: 1.2vw;
    width: 40vw;
  }
}

@media screen and (max-width: 1136px) {
  .profile-div {
    font-size: 2vw;
    width: 60vw;
  }
}

@media screen and (min-width: 1025px) {
  .header-parts {
    @apply w-64;
  }

  iframe {
    height: 152;
  }
}

@media screen and (max-width: 1024px) {
  .timer {
    font-size: 2.5rem;
    width: 15rem;
    height: 15rem;
  }

  iframe {
    @apply h-min w-min;
  }

  .music-div {
    @apply flex justify-center;
  }
}

@media screen and (min-width: 867px) {
  .big-dev {
    display: none;
  }

  .header-parts {
    @apply w-44;
  }

  .big-mobile {
    @apply w-1/5;
  }

  .small {
    display: none;
  }
}

@media screen and (max-width: 866px) {
  .big {
    display: none;
  }

  .hide-mobile {
    display: none;
  }

  .big-mobile {
    @apply w-2/5 mb-2;
  }

  .header-parts {
    @apply w-44;
  }

  .btns {
    @apply h-9;
  }

  .rd-btns {
    @apply w-9;
  }

  .header-title {
    font-size: 3rem;
  }

  .click-div {
    font-size: 1.5rem;
  }

  .big-dev {
    display: flex;
  }

  .x-small-dev {
    display: none;
  }

  .rd-btns {
    @apply w-10 h-10;
  }
}

@media screen and (max-width: 706px) {
  .header-parts {
    @apply w-24;
  }

  .header-title {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 547px) {
  .change-flex:hover .lightmode {
    @apply rounded-br-none rounded-tr-none border-none scale-95;
  }

  .change-flex:hover .darkmode {
    @apply rounded-bl-none rounded-tl-none border-none scale-95;
  }

  .form-text {
    @apply p-3;
  }

  .form-width {
    width: 20vw;
    font-size: 1.5vw;
  }

  .register-height {
    width: 30vw;
  }

  .profile-div {
    padding: 2rem;
  }
}

@media screen and (max-width: 546px) {
  .change-flex:hover .lightmode {
    @apply rounded-br-none rounded-bl-none border-none scale-95;
  }

  .change-flex:hover .darkmode {
    @apply rounded-tr-none rounded-tl-none border-none scale-95;
  }

  .change-flex {
    flex-direction: column;
  }

  .big-dev {
    display: flex;
  }

  .header-parts {
    @apply w-16;
  }

  body {
    padding-top: 0.5rem;
  }

  footer {
    @apply mb-2;
  }

  .form-text {
    @apply p-2;
  }

  .form-width {
    width: 40vw;
    font-size: 4vw;
  }

  .register-height {
    width: 60vw;
  }

  .profile-div {
    width: 90vw;
    padding: 1rem;
    font-size: 4vw;
  }
}

@media screen and (min-width: 483px) {
  header {
    height: 5rem;
  }
}

@media screen and (max-width: 482px) {
  header {
    height: 7rem;
  }
}

@media screen and (min-width: 413px) {
  .footer-size {
    font-size: 1rem;
  }
}

@media screen and (max-width: 412px) {
  .footer-size {
    font-size: 0.8rem;
  }
}

@media screen and (min-height: 968px) {
  .register-height {
    @apply h-5/6;
  }
}

@media screen and (max-height: 967px) {
  .register-height {
    height: 40rem;
  }
}

@media screen and (min-height: 822px) {
  html,
  body {
    overflow: hidden;
    height: 100vh;
  }
}

@media screen and (max-height: 821px) {
  html,
  body {
    overflow-x: hidden;
    height: 100vh;
    @apply mb-2 mt-2;
  }
}
